body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.main-div {
    position: relative;
    width: 100%;
    margin: 20px;
    float: left;
}

.left-side {
    position: relative;
    float: left;
}

.right-side {
    position: relative;
    float: left;
    width: 600px;
    height: 100%;
    margin-left: 50px;
    background: #efefef;
}

.info-box {
    position: relative;
    width: 100%;
    height:100%;
}


.aa-br-color {
    position: relative;
    float: left;
    width: 70px;
    height: 20px;
    margin-right: 50px;
    background: orange;
}
.ba-br-color {
    background: purple;
    position: relative;
    float: left;
    width: 70px;
    height: 20px;
    margin-right: 50px;

}
.ca-br-color {
    background: yellow;
    position: relative;
    float: left;
    width: 70px;
    height: 20px;
    margin-right: 50px;
}

.ha-br-color {
    background: blue;
    position: relative;
    float: left;
    width: 70px;
    height: 20px;
    margin-right: 50px;
}
.pg-br-color {
    background: green;
    position: relative;
    float: left;
    width: 70px;
    height: 20px;
    margin-right: 50px;
}

.icon {
    position: relative;
    float: right;
    width: 30px;
    height: 30px;
}